header .container{
    background: #F2F6FF;
    height: 575px;
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100pxs;
}

.container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding-left: 100px;
    padding-top: 108px;
    color: #234CAD;
}
/* .layanan .lingkaran {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    margin: auto;
    

}
.lingkaran img {
    float : left ;
    position: relative;
    top: 30px;
    margin-left: 26px;
    width: 50px;
    height: 43px
    
}
.layanan .des {
    position: relative;
    margin-top: -90px;
    margin-left:110px;

} */
/* .info-panel {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    padding: 30px;
} */
.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}

/* .use-app .kartu {
    background-color: #234CAD;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    
}
.use-app .use-card {
    background-color: #234CAD;
    width: 575px;
    height: 575px;
    border-radius: 60px;
    
}
.use-app  .card{
    background-color: aqua;
    height: 125px;
    width: 438px;
    left: 50px;
    top: 108px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10px;

}
.card span {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: red;
    float: left;
}

.container h1 {
    margin-top: 50px;
}
.use-app .container p {
    margin-left: 95px;
    justify-content: center;
    margin-top: 30px;

}
   
 */
.use-app .container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px ;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}

.container .wrapper .outer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container  .wrapper .card{
    background: #fff;
    width: 430px;
    display: flex;
    align-items: center;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    border-radius:25px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
  }
  .outer:hover .card{
    animation-play-state: paused;
  }
 .wrapper .card:last-child{
    animation-delay: calc(-3s * var(--delay));
  }
  @keyframes animate {
    0%{
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
      opacity: 0.4;
      transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
    45%, 60%{
      opacity: 0.4;
      transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
  }
.card .content{
    display: flex;
    align-items: center;
  }
.wrapper .card .img{
    height: 90px;
    width: 90px;
    position: absolute;
    left: -3px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  }
  .card .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .details{
    margin-left: 80px;
  }
  .details span{
    font-weight: 600;
    font-size: 18px;
  }
  .card a{
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
    transition: all 0.3s ease;
  }
  .card a:hover{
    transform: scale(0.94);
  }